<div class="site-section" id="Dashboard">
    <div class="row m-0">
        <div class="col-12 col-md-4 mb-3">
            <div class="row m-0 d-flex justify-content-center">
                <div class="col-12">
                    <!-- <a routerLink="/pacientes"><img src="/assets/images/1.png"></a> -->
                    <a (click)="Navegar('Pacientes')"><img src="/assets/images/1.png"></a>
                </div>
                <div class="col-12">
                    <h3 class="mt-2">Pacientes</h3>
                    <p class="card-text" style="text-align: start;">Busque o cree un paciente
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-3">
            <div class="row m-0 d-flex justify-content-center">
                <div class="col-12">
                    <!-- <a routerLink="/ventas"><img src="/assets/images/2.png"></a> -->
                    <a (click)="Navegar('Crear Venta')"><img src="/assets/images/2.png"></a>
                </div>
                <div class="col-12">
                    <h3 class="mt-2">Ventas</h3>
                    <p class="card-text">Busque o cree una venta
                    </p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 mb-3">
            <div class="row m-0 d-flex justify-content-center">
                <div class="col-12">
                    <!-- <a routerLink="/cotizacion-rapida"><img src="/assets/images/3.png"></a> -->
                    <a (click)="Navegar('Cotización Rapida')"><img src="/assets/images/3.png"></a>
                </div>
                <div class="col-12">
                    <h3 class="mt-2">Cotización</h3>
                    <p class="card-text">Busque o cree una cotización
                    </p>
                </div>
            </div>
        </div>
        <div class="row m-0">
            <div class="col-12 col-md-4 mb-3">
                <div class="row m-0 d-flex justify-content-center">
                    <div class="col-12">
                        <!-- <a routerLink="/historial-cotizacion"><img src="/assets/images/4.png"></a> -->
                        <a (click)="Navegar('Historial Cotización')"><img src="/assets/images/4.png"></a>
                    </div>
                    <div class="col-12">
                        <h3 class="mt-2">Historial de cotización</h3>
                        <p class="card-text">Busque su cotización
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-3">
                <div class="row m-0 d-flex justify-content-center">
                    <div class="col-12">
                        <!-- <a routerLink="/facturacion"><img src="/assets/images/5.png"></a> -->
                        <a (click)="Navegar('Generar Facturacion')"><img src="/assets/images/5.png"></a>
                    </div>
                    <div class="col-12">
                        <h3 class="mt-2">Facturación</h3>
                        <p class="card-text">Busque o cree una factura
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-3">
                <div class="row m-0 d-flex justify-content-center">
                    <div class="col-12">
                        <!-- <a routerLink="/arqueo"><img src="/assets/images/6.png"></a> -->
                        <a (click)="Navegar('Generar Arqueo')"><img src="/assets/images/6.png"></a>
                    </div>
                    <div class="col-12">
                        <h3 class="mt-2">Arqueo</h3>
                        <p class="card-text">Revise el arqueo de sus cuentas
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>