<div class="container">
    <div class="row m-0 d-flex justify-content-center">
        <div class="col-12 mb-3">
            <h1>Log del sistema</h1>
        </div>
        <div class="mt-1 col-12 mb-3">
            <div class="row m-0">
                <div class="col-12 col-md-4 mb-3 form-group">
                    <label>Fechas</label>
                    <input placeholder="Inicio" type="text" onfocus="(this.type = 'date')" class="form-control" id="fechaIni" [max]="hoy" (change)="validarFecha($event.target.value,1)">
                </div>
                <div class="col-12 col-md-4 mb-3 mt-2 form-group">
                    <label></label>
                    <input placeholder="Fin" type="text" onfocus="(this.type = 'date')" class="form-control" id="fechafin" [max]="hoy" (change)="validarFecha($event.target.value,2)">
                </div>

                <div class="col-12 col-md-3 mb-3 form-group">
                    <label>Usuarios</label>
                    <select class="form-control" id="usuario">
                        <option value="0">Seleccionar Usuario</option>
                        <option *ngFor="let usuarios of LtsUsuarios" value="{{usuarios.id}}">
                            {{usuarios.nombreCOmpleto}}</option>
                    </select>
                </div>

                <div class="col-12 col-md-1 mt-2  form-group">
                    <label></label>
                    <button type="submit" class="btn3 form-control" (click)="consultar()"><i class="fa fa-search"
                            aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
        <!--Tabla con evento keyup-->
        <div class="table-responsive" *ngIf="show ">
            <div class="row">
                <!--Descargar excel-->
                <div class="col-12 col-md-2 mb-3 ">
                    <button class="bt4" (click)="downloadExcel()">
                    </button>
                </div>
                <div class="col-12 col-md-2 mb-3 align-items-center">
                    <button class="bt5" (click)="generarPdf()"></button>
                </div>
            </div>
            <table class="table m-0">
                <tr>
                    <th>ID</th>
                    <th>Acción</th>
                    <th>Tabla afectada</th>
                    <th>Petición</th>
                    <th>Usuario</th>
                    <th>Fecha</th>

                </tr>
                <tr *ngFor="let log of DataLog | paginate: {id:'PaginaLog',  itemsPerPage: 5, currentPage: PaginaLog, totalItems: totalRecords}">
                    <td>{{log.Id}}</td>
                    <td>{{log.Accion}}</td>
                    <td>{{log.Tabla}}</td>
                    <td>{{log.Peticion}}</td>
                    <td>{{log.NombreUsuario}}</td>
                    <td>{{log.FechaAuditoria}}</td>

                </tr>
            </table>
            <pagination-controls id="PaginaLog" (pageChange)="PaginaLog = $event" maxSize="5" previousLabel="" nextLabel=""></pagination-controls>
        </div>
    </div>
</div>
