.bt1 {
    background-color: #0084b3 !important;
    color: white !important;
    width: 28%;
    height: 54%;
    margin-top: 20.2%;
    margin-left: -10%;
    margin-right: 60%;
    border: none !important;
    border-radius: 10px !important;
}

.btn-primary {
    background: #0084b3;
    color: #fff;
    border-radius: 6px;
    border: none;
    width: 25%;
    text-align: center;
}

.Centrarth{
    text-align: center;
}

.inactive{
    pointer-events: none;
    cursor: not-allowed;
}

.backgraundInactive{
    background-color: #dfe3e3;
}

.modalEditar{
    overflow-y: auto;
}

.modalEditar::-webkit-scrollbar {
    -webkit-appearance: none;
}

/* estilos del header de los modales */

.modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #f8f9fa;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
    background-color: #8e4b9a;
    color: white;
}

.modal-content1 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 190%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
    border-radius: 10px;
    margin-left: -8em;
}

#iconobuscar1 {
    position: absolute;
    color: #0084b3;
    font-size: 19px;
    margin-left: 92% !important;
    top: 22%;
  }


/* estilo de los modales */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100vh;
    outline: 0;
    left: -4%;
}


/* estilos tablas */

#colum1 {
    width: auto;
    height: auto;
    text-align: center;
}

#colum2 {
    width: auto;
    height: auto;
    text-align: center;
}

#colum3 {
    width: auto;
    height: auto;
    text-align: center;
}

#colum4 {
    width: auto;
    height: auto;
    text-align: center;
}

#fila1 {
    width: auto;
    height: auto;
    text-align: center;
}

#fila2 {
    width: auto;
    height: auto;
    text-align: center;
}

#fila3 {
    width: auto;
    height: auto;
    text-align: center;
}

#fila4 {
    width: auto;
    height: auto;
    text-align: center;
}

.form-control {
    border: 1px solid #0084b3;
    width: 61%;
}

.eliminar {
    border: 0px solid #0084b3;
    border: none;
    color: #0084b3;
    cursor: pointer;
    background-color: transparent;
}

#buttonmas {
    color: #0084b3;
    cursor: pointer;
}