#Modulo {
    width: 100%;
}


/* estilo de las filas y columnas de la tabla */

#Columna1 {
    text-align: center;
    width: 15%;
}

#Columna2 {
    text-align: center;
    width: 8%;
}

#Columna3 {
    text-align: center;
    width: 8%;
}

#fila1 {
    padding-left: 4%;
}

#fila2 {
    text-align: center;
}

#fila3 {
    text-align: center;
}

#Observacion {
    width: 100%;
}

.detall-control1 {
    background-color: transparent;
    border: none;
    width: 100%;
    color: #808080db;
}

.detall-control1 .placeholder {
    color: black;
}

#estiletabla {
    text-align: center;
}

.form-control {
    border: 1px solid #0084b3;
}

#btnshare {
    margin-top: 22%;
    display: inline-block;
    font-weight: 400;
    color: #fff !important;
    text-align: center;
    width: 100% !important;
    vertical-align: middle;
    -webkit-user-select: none;
    user-select: none;
    background-color: #0084b3 !important;
    border: 1px solid #0084b3;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 10px !important;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.bt1 {
    background-color: #0084b3 !important;
    color: white !important;
    width: 30%;
    height: 59%;
    margin-left: -82%;
    margin-right: 0%;
    margin-top: 30px;
    border: none !important;
    border-radius: 10px !important;
}

#buttonmas {
    color: #95D2EE;
    cursor: pointer;
}

#style-textarea {
    height: auto;
    width: 100% !important;
}

.btn-primary {
    background: #0084b3;
    color: #fff;
    border-radius: 6px;
    border: none;
    width: 50%;
    text-align: center;
}

.btn-primary1 {
    background: #0084b3;
    color: #fff;
    border-radius: 6px;
    border: none;
    width: 31%;
    text-align: center;
    margin-left: 18px;
}

.btn-primary-disabled {
    background: #8b8c8c;
    color: #fff;
    border-radius: 6px;
    border: none;
    width: 50%;
    text-align: center;
    cursor: no-drop;
}


.btn-primary1-disabled {
    background: #8b8c8c;
    color: #fff;
    border-radius: 6px;
    border: none;
    width: 31%;
    text-align: center;
    margin-left: 18px;
    cursor: no-drop;
}

.btn1-disabled {
    background-color: #8b8c8c !important;
    color: white !important;
    width: 100%;
    height: 98%;
    border: none !important;
    border-radius: 10px !important;
    cursor: no-drop;
}

.btn-primary2 {
    background: #0084b3;
    color: #fff;
    border-radius: 6px;
    border: none;
    width: 40%;
    text-align: center;
    margin-left: 100%;
    height: 72%;
    margin-top: 4px;
}


/* estilos del header de los modales */

.modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #f8f9fa;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
    background-color: #8e4b9a;
    color: white;
}

.modal-content1 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 220%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
    border-radius: 10px;
    margin-left: -25%;
}

.modal-content2 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 185%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
    border-radius: 10px;
    margin-left: 0%;
}

.modal-content3 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 158%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
    border-radius: 10px;
}


/* estilo de los modales */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    outline: 0;
    left: -4%;
}

.form-control1 {
    display: block;
    width: 113%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border-radius: 10px !important;
    border: 1px solid #0084b3;
}

#titulo {
    padding: 3px;
    color: #18191b;
}

.connecting-line2 {
    height: 2px;
    background: #e0e0e0;
    width: 154%;
    z-index: 0;
}

@media screen and (max-width: 1366px) {
    .modal-content1 {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 199%;
        pointer-events: auto;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: .3rem;
        outline: 0;
        border-radius: 10px;
        margin-left: -25%;
    }
}

@media screen and (max-width: 1199px) {
    .modal-content1 {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 176%;
        pointer-events: auto;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: .3rem;
        outline: 0;
        border-radius: 10px;
        margin-left: -25%;
    }
    .modal-content2 {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 146%;
        pointer-events: auto;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: .3rem;
        outline: 0;
        border-radius: 10px;
        margin-left: 0%;
    }
    .btn-primary2 {
        background: #0084b3;
        color: #fff;
        border-radius: 6px;
        border: none;
        width: 40%;
        text-align: center;
        margin-left: 100%;
        height: 72%;
        margin-top: 4px;
    }
}