#Modulo {
    width: 100%;
}

#Observacion {
    width: 100%;
}

#Colum {
    width: auto;
    height: auto;
    text-align: center;
}

#label1 {
    padding-left: 50%;
}

#label2 {
    padding-left: 50%;
}

.bt1 {
    background-color: #0084b3 !important;
    color: white !important;
    width: 17%;
    height: 54%;
    margin-top: 6%;
    border: 1px solid #0084b3 !important;
    border-radius: 10px !important;
    outline: none;
}

.btn-primary {
    background: #0084b3;
    color: #fff;
    border-radius: 6px;
    border: none;
    width: 17%;
    text-align: center;
}


/* estilos del header de los modales */

.modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #f8f9fa;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
    background-color: #8e4b9a;
    color: white;
}

.modal-content1 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 220%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
    border-radius: 10px;
    margin-left: -25%;
}


/* estilo de los modales */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: auto;
    overflow: hidden;
    outline: 0;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    border-radius: 10px !important;
    border: 1px solid #0084b3;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    outline: none;
}